<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends "tasks/base.html" %}
    {% block contain %}

    <div class="card text-center mt-4">
        <div class="card-header">
            Are you sure you wan to delete the task "{{task}}
        </div>
        <div class="card-body">
          
            <form action="" method="POST">
                {% csrf_token %}
                <input type="submit" name="Confirm" class="btn btn-secondary">
            </form>
            <a href="/"><button class="btn btn-secondary mt-4">Cancel</button></a>
          
        </div>
      
      </div>


 
      {% endblock contain%}
</body>
</html>